

/* game1 special */

.joystick {
    margin-top: 1rem;
    background-color: oklch(var(--s));
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 9999px; 
    width: 16rem; 
    height: 16rem; 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
}

.joystick :hover {
    background-color: oklch(var(--s));
}

